body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.integrantes, .modulos, .miembros {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.integrantes ul {
    list-style: none;
    padding: 0;
}

.integrantes li {
    background: #eaeaea;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.modulos h2 {
    color: #333;
    font-size: 1.2em;
    margin: 0;
    margin-top: 25px; /* Añade espacio entre los módulos */
}

/* Eliminar el espacio superior del primer título del módulo */
.modulos h2:first-of-type {
    margin-top: 0; /* Elimina el margen superior del primer título de módulo */
}

.modulos a {
    color: #0066cc;
    text-decoration: none;
    display: block; /* Hace que cada enlace ocupe toda la línea */
    margin-top: 10px; /* Añade espacio entre el título del módulo y el enlace */
}

.modulos a:hover {
    text-decoration: underline;
}

.miembros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.miembro {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 0 1 calc(33% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.miembro img {
    border-radius: 20%;
    width: 120px; /* Aumenta el tamaño de las imágenes */
    height: 120px; /* Aumenta el tamaño de las imágenes */
    margin-bottom: 10px;
}

.miembro h3 {
    margin: 10px 0 5px;
    font-size: 1.1em;
    color: #333;
}

.miembro p {
    margin: 5px 0;
    color: #666;
}

.miembro a {
    color: #0066cc;
    text-decoration: none;
}

.miembro a:hover {
    text-decoration: underline;
}
